.view-info {
    width: 100%;
}

.item-info-content {
    width: 100%;
    display: flex;

    .item-info {
        width: 70%;
        text-overflow: ellipsis;
    }

    .item-quantity {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 50px;
        margin-right: 5px;
    }
}